@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2338b2ac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
}

#menu-toggle-label:hover {
    cursor: pointer;
}

#menu-toggle-label svg {
    fill: white;
}

#menu-toggle:checked + #menu {
    display: block;
}

#menu svg {
    display: inline-block;
}

#menu ul li a:hover svg {
    fill: white;
}

#info {
    border-left: solid 4px #009688;
}

#info h2 {
    font-family: 'Abril Fatface', cursive;
}

#results .result {
    position: relative;
}

#results .result .result-image {
    width: 185px;
    height: 265px;
    object-fit: cover;
}

#results .result .title {
    width: 185px;
    bottom: 0;
    left: 0;
    background-color: rgba(40, 110, 111, .7);
    border-bottom-left-radius: .25rem;
}

#results .result .result-info-container {
    border-top: solid 1px rgb(54, 154, 155);
    border-bottom: solid 1px rgb(54, 154, 155);
}

#results .result .result-info .season {
    border-top-right-radius: .25rem;
    background-color: rgb(54, 154, 155);
}

#results .result .result-info .synopsis {
    height: 11rem;
}

#results .result .result-info .genres {
    height: 3.5rem;
    border-bottom-right-radius: .25rem;
    background-color: rgb(54, 154, 155);
}

#results .result .result-info .synopsis,
#results .result .result-info .genres {
    overflow: hidden;
}

#results .result .result-info .synopsis:hover,
#results .result .result-info .genres:hover {
    overflow-y: auto;
}